In [44]:
(require RacketFrames)

In [45]:
(define series-integer (new-ISeries (vector 1 2 3 4)
                                      (build-index-from-labels (list 'a 'b 'c 'd))))

In [46]:
((iseries-referencer series-integer) 0)

1

In [47]:
(iseries-iref series-integer (list 0))

'(1)

In [48]:
(define columns-integer
  (list 
   (cons 'col1 (new-ISeries (vector 1 2 3 4)
                            (build-index-from-labels (list 'a 'b 'c 'd))))
   (cons 'col2 (new-ISeries (vector 5 6 7 8)
                            (build-index-from-labels (list 'e 'f 'g 'h))))
   (cons 'col3 (new-ISeries (vector 9 10 11 12)
                            (build-index-from-labels (list 'i 'j 'k 'l))))))

; create new data-frame-integer
(define data-frame-integer (new-data-frame columns-integer))

In [49]:
data-frame-integer

(DataFrame '#hash((col1 . (0)) (col2 . (1)) (col3 . (2))) (vector (ISeries '#hash((a . (0)) (d . (3)) (c . (2)) (b . (1))) '#(1 2 3 4)) (ISeries '#hash((e . (0)) (h . (3)) (g . (2)) (f . (1))) '#(5 6 7 8)) (ISeries '#hash((i . (0)) (k . (2)) (l . (3)) (j . (1))) '#(9 10 11 12))))

In [50]:
(data-frame-names data-frame-integer)

'(col1 col2 col3)

In [51]:
(set! data-frame-integer (data-frame-rename data-frame-integer 'col1 'col-one))

In [52]:
(data-frame-names data-frame-integer)

'(col-one col2 col3)

In [53]:
(data-frame-series data-frame-integer 'col-one)

(ISeries '#hash((a . (0)) (d . (3)) (c . (2)) (b . (1))) '#(1 2 3 4))

In [54]:
(data-frame-head data-frame-integer)

    col-one          col2            col3
              1               5               9
              2               6              10
              3               7              11
              4               8              12

In [55]:
(data-frame-dim data-frame-integer)

(Dim 4 3)

In [56]:
(ColumnInfo 'first 'CATEGORICAL)

(ColumnInfo 'first 'CATEGORICAL)

In [57]:
(define columns-integer
  (list 
   (cons 'col1 (new-ISeries (vector 1 2 3 4 2 ) #f))
   (cons 'col2 (new-ISeries (vector 5 6 7 8 6) #f))
   (cons 'col3 (new-ISeries (vector 9 10 11 12 17) #f))
   (cons 'col4 (new-ISeries (vector 13 14 15 16 18) #f))))

(define columns-categorical
  (list 
   (cons 'col1 (new-CSeries (vector 'a 'b 'c 'd 'e)))
   (cons 'col2 (new-CSeries (vector 'e 'f 'g 'h 'i)))
   (cons 'col3 (new-CSeries (vector 'j 'k 'l 'm 'n)))))

; create new data-frame-integer
(define data-frame-integer (new-data-frame columns-integer))

; create new data-frame-categorical
(define data-frame-categorical (new-data-frame columns-categorical))

(data-frame-write-tab data-frame-integer (current-output-port))

(displayln "data-frame-groupby")
(data-frame-groupby data-frame-integer (list 'col1))

(data-frame-groupby data-frame-integer (list 'col2))

(data-frame-groupby data-frame-integer (list 'col1 'col2))

col1	col2	col3	col4
1	5	9	13
2	6	10	14
3	7	11	15
4	8	12	16
2	6	17	18
data-frame-groupby

data-frame-groupby: undefined;
 cannot reference undefined identifier
  context...:
   /Applications/Racket v6.12/share/pkgs/sandbox-lib/racket/sandbox.rkt:680:9: loop
   /Applications/Racket v6.12/share/pkgs/sandbox-lib/racket/sandbox.rkt:493:0: call-with-custodian-shutdown
   /Applications/Racket v6.12/collects/racket/private/more-scheme.rkt:148:2: call-with-break-parameterization
   .../more-scheme.rkt:261:28
   /Applications/Racket v6.12/share/pkgs/sandbox-lib/racket/sandbox.rkt:861:5: loop

In [58]:
(define columns-mixed-5
  (list 
   (cons 'col1 (new-ISeries (vector 1 2 3 4) #f))
   (cons 'col2 (new-CSeries (vector 'a 'b 'c 'd)))
   (cons 'col3 (new-ISeries (vector 21 22 23 24) #f))))

(define columns-mixed-6
  (list 
   (cons 'col1 (new-ISeries (vector 11 21 31 41) #f))
   (cons 'col2 (new-CSeries (vector 'a 'b 'g 'd)))
   (cons 'col3 (new-ISeries (vector 22 22 23 24) #f))))

; create new data-frame-mixed-5
(define data-frame-mixed-5 (new-data-frame columns-mixed-5))

; create new data-frame-mixed-6
(define data-frame-mixed-6 (new-data-frame columns-mixed-6))

(data-frame-write-tab data-frame-mixed-5 (current-output-port))

(data-frame-write-tab data-frame-mixed-6 (current-output-port))

(data-frame-write-tab (data-frame-join-left data-frame-mixed-5 data-frame-mixed-6 #:on (list 'col3)) (current-output-port))

(data-frame-write-tab (data-frame-join-inner data-frame-mixed-5 data-frame-mixed-6 #:on (list 'col2)) (current-output-port))

(data-frame-write-tab (data-frame-join-right data-frame-mixed-5 data-frame-mixed-6 #:on (list 'col2)) (current-output-port))

(data-frame-write-tab (data-frame-join-outer data-frame-mixed-5 data-frame-mixed-6 #:on (list 'col2)) (current-output-port))

col1	col2	col3
1	a	21
2	b	22
3	c	23
4	d	24
col1	col2	col3
11	a	22
21	b	22
31	g	23
41	d	24

eval:23:23: require: namespace mismatch;
 reference to a module that is not available
  reference phase: 0
  referenced module: "/Applications/Racket v6.12/collects/RacketFrames/dataframe/data-frame/data-frame-join.rkt"
  referenced phase level: 0
  in: data-frame-join-left
  context...:
   /Applications/Racket v6.12/share/pkgs/sandbox-lib/racket/sandbox.rkt:680:9: loop
   /Applications/Racket v6.12/share/pkgs/sandbox-lib/racket/sandbox.rkt:493:0: call-with-custodian-shutdown
   /Applications/Racket v6.12/collects/racket/private/more-scheme.rkt:148:2: call-with-break-parameterization
   .../more-scheme.rkt:261:28
   /Applications/Racket v6.12/share/pkgs/sandbox-lib/racket/sandbox.rkt:861:5: loop

In [63]:
(define columns-mixed-1
  (list 
   (cons 'col1 (new-ISeries (vector 1 2 3 4) #f))
   (cons 'col3 (new-CSeries (vector 'a 'b 'c 'd)))
   (cons 'col4 (new-ISeries (vector 21 22 23 24) #f))))

(define columns-mixed-2
  (list 
   (cons 'col1 (new-ISeries (vector 1 2 3 4) #f))
   (cons 'col3 (new-CSeries (vector 'e 'f 'g 'h)))
   (cons 'col4 (new-ISeries (vector 1 2 3 4) #f))))

; create new data-frame-mixed-1
(define data-frame-mixed-1 (new-data-frame columns-mixed-1))

; create new data-frame-mixed-2
(define data-frame-mixed-2 (new-data-frame columns-mixed-2))

(displayln "Concat Test")

(data-frame-write-tab data-frame-mixed-1 (current-output-port))

(data-frame-write-tab data-frame-mixed-2 (current-output-port))

(displayln "Vertical Concat")

(data-frame-write-tab (data-frame-concat-vertical data-frame-mixed-1 data-frame-mixed-2) (current-output-port))

(displayln "Horizontal Concat")

(data-frame-write-tab (data-frame-concat-horizontal data-frame-mixed-1 data-frame-mixed-2) (current-output-port))

Concat Test
col1	col3	col4
1	a	21
2	b	22
3	c	23
4	d	24
col1	col3	col4
1	e	1
2	f	2
3	g	3
4	h	4
Vertical Concat

eval:27:23: require: namespace mismatch;
 reference to a module that is not available
  reference phase: 0
  referenced module: "/Applications/Racket v6.12/collects/RacketFrames/dataframe/data-frame/data-frame-concat.rkt"
  referenced phase level: 0
  in: data-frame-concat-vertical
  context...:
   /Applications/Racket v6.12/share/pkgs/sandbox-lib/racket/sandbox.rkt:680:9: loop
   /Applications/Racket v6.12/share/pkgs/sandbox-lib/racket/sandbox.rkt:493:0: call-with-custodian-shutdown
   /Applications/Racket v6.12/collects/racket/private/more-scheme.rkt:148:2: call-with-break-parameterization
   .../more-scheme.rkt:261:28
   /Applications/Racket v6.12/share/pkgs/sandbox-lib/racket/sandbox.rkt:861:5: loop